html,body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,form,fieldset,legend,table{margin:0;padding:0;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:#000;}
img{border:none;display:block;}
input{outline:none;}
em,i{font-style:normal;}
b,strong{font-weight:normal;}
h1,h2{font-size:0;}			 
#top-navbox {
	width:100%;
	height:30px;
	background:#f5f5f5;
	border-bottom: 1px solid #ddd;}
#top-nav {
	width:1204px;
	height:30px;
	margin:0 auto;
	font-size:14px;				
	line-height:30px;
	position: relative;				
}
#top-nav a{
	color:#565656;
}	
#top-nav .top-nav-l ul li{
	float:left;
	margin:0  9px;
}
#top-nav .top-nav-l .l1 a{
	color:#ff0033;
}
#top-nav .top-nav-c{
	margin-left:660px;
				
}
#top-nav .top-nav-c ul li{
	float:left;				
	margin-left:8px;
}
#top-nav .top-nav-c .li3 a{
	color:#c70a28;
}
#top-nav .top-nav-c .li4 a{
	border-right:1px solid #ddd;
	padding-right:10px;
}
#top-nav .top-nav-r ul li {
	float:left;
	margin-left:14px;
}
			
/*顶部鼠标滑过触发网站导航*/
#site-nav-display{
	padding-left:20px;
	background: url(../img/sit-nav.jpg) no-repeat 5px center  ;
}
#site-nav-display a:hover{
	color:#6f6f6f;
	text-decoration: none;
}
#site-nav-display .site-nav{
	height:135px;
	width:1150px;
	margin:16px auto;
	border:1px solid #e4e4e4;
	position: absolute;
	right:0;
	top:14px;
	background:#fff;
	padding:10px 32px;
	z-index: 5;
	display: none;
}

#site-nav-display .site-nav li{
	float: left;
	height:135px;
}
#site-nav-display .site-nav li h2{
	height:34px;
	font-size:16px;
	font-weight: 900;
	line-height:34px;
	width:100%;
	float:left;
}
.site-nav .nav-hot{
	width:180px;
	border-right:1px solid #e4e4e4;
	color:#e9591a;
				
}
#site-nav-display .site-nav a{
	float:left;
	height:24px;
	line-height:24px;
	width:50%;
    color:#6f6f6f;
}
#site-nav-display .site-nav .one-line a{
	width:100%;
}
.nav-women,.nav-children,.nav-men,.nav-help{
	margin-left:25px;
	border-right:1px solid #e4e4e4;
}
.nav-women{
	width:300px;
	color:#f40046;
}
.nav-men{
	width:180px;
	color:#295d99;
}
.nav-children{
	width:192px;
	color:#688b39;
}
.nav-help{
	width:180px;
    color:#636363;
}
#top-nav li a:hover{
color:#c70a28;
}
#header{
	width:1204px;
	height:134px;
	margin:0 auto;
	/*position: relative;*/
}
#header .header-l{
	width:300px;
	height:50px;
	padding-top:25px;
	float:left;
				
}
#header .header-l img{
	width:300px;
	height:50px;
}
/*搜索*/
#header .search{
	margin-left:100px;
	width:488px;
	float:left;	
	margin-top: 28px;
	position: relative;			
}
#header .search form{
	width:488px;
	border:2px solid #c80a28;
	height:32px;
}
#header .search form .txt{
	width:403px;
	height:30px;
	line-height: 32px;
	border:none;
    float:left;
    color:#c80a28;
    font-size: 14px;
}
#header .search form .search-btn{
	border:none;
	float: left;
	height:32px;
	width:85px;
	background:#c80a28;
	color:#fff;
	cursor: pointer;
}
.search .search-content{
	position: absolute;
	width: 406px;
	top: 35px;
	left: 0;
	background: papayawhip;
	z-index: 999;
	display: none;
}
.search-content li{
	width: 406px;
	height: 20px;
	padding: 0 2px 0 6px;
	list-style: none;
	text-align: left;
	font-size: 14px;
}
.search .hotwords li{
	float: left;
	line-height:14px;
	height:14px;
	margin-top:10px;
}
.search .hotwords li a{
	font-size: 14px;
	padding:0 8px;
	border-right:1px solid #666;
	color:#666;
}
.search .hotwords .last a{
	border-right:none;
}
.search .hotwords a:hover{
	color:#ff0033;
}
#header .two-code {
	width:96px;
	height:96px;
	float:right;
	margin:18px 35px 0 0 ;
}
.two-code img{
	height:96px;
	width:96px;
}	
.two-code p{
	font-size:12px;
	color:#ff0032
}
#index-nav{
	width:1204px;
	height:33px;
	margin:0 auto;
	position: relative;
}
#index-nav .index-nav-fl{
	float:left;
	height:34px;				
}
.index-nav-fl li{
	float:left;			
}
.index-nav-fl .goods{
	background:#fe0032;
	width:180px;
	height:34px;
	text-align: center;
	font-weight:bold;
	font-size: 14px;
	line-height:34px;
	color:#fff;
	
}
/*下拉导航菜单*/			
.index-nav-fl .goods .list{
	position: absolute;
	left:0;
	top:34px;
	height:455px;
	width:180px;
	background: #E5E5E5;
	z-index: 2;
	display:none;
}
.index-nav-fl .goods .list li{
	height:49px;
	border-bottom:1px dashed #ccc;
	padding-left:14px;
	padding-top: 15px;	
	width:166px;
}
.index-nav-fl .goods .list li h2{
	height:18px;
	color:#000;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	padding-left:20px;
	background: url(../img/tb1.png) no-repeat;
}
.index-nav-fl .goods .list .list2 {
	background: url(../img/tb2.png) no-repeat;
}
.index-nav-fl .goods .list .list3 {
	background: url(../img/tb3.png) no-repeat;
}
.index-nav-fl .goods .list .list4 {
	background: url(../img/tb4.png) no-repeat;
}
.index-nav-fl .goods .list .list5 {
	background: url(../img/tb5.png) no-repeat;
}
.index-nav-fl .goods .list .list6 {
	background: url(../img/tb6.png) no-repeat;
}
.index-nav-fl .goods .list .list7 {
	background: url(../img/tb7.png) no-repeat;
}
.index-nav-fl .goods .list li a{
	margin-right:6px;
	font-size: 12px;
	color:#555555;
	height: 24px;
	line-height: 24px;
	float: left;
	font-weight: 100;
	padding:0;
}
.index-nav-fl .goods .list li span{
	position: absolute;
	right:7px;
	top:7px;
	color:#777777;
	font-size: 14px;
}
.index-nav-fl .goods .list li:hover{
	background: #333;
	color:#fff;
}
.index-nav-fl .goods .list li:hover a{	
	color:#fff;
}
.index-nav-fl .goods .list li:hover h2{	
	color:#fff;
	padding-left:20px;
	background: url(../img/tb01.png) no-repeat;	
}
.index-nav-fl .goods .list li:hover .list2 {
	background: url(../img/tb02.png) no-repeat;
}
.index-nav-fl .goods .list li:hover .list3 {
	background: url(../img/tb03.png) no-repeat;
}
.index-nav-fl .goods .list li:hover .list4 {
	background: url(../img/tb04.png) no-repeat;
}
.index-nav-fl .goods .list li:hover .list5 {
	background: url(../img/tb05.png) no-repeat;
}
.index-nav-fl .goods .list li:hover .list6 {
	background: url(../img/tb06.png) no-repeat;
}
.index-nav-fl .goods .list li:hover .list7 {
	background: url(../img/tb07.png) no-repeat;
}
.index-nav-fl .goods .list li:hover span{
	color:#ccc;
}
.index-nav-fl li a{
	padding:7px 15px;
	color:#000;
	font-weight:bold;
	display: inline-block;
	font-size: 14px;
}
.index-nav-fl li a:hover{
	color:#fe0032;
}
#index-nav .index-nav-fr{
	float:right;
	position: relative;
}
#index-nav .index-nav-fr li{
	float: left;
	width:110px;
}
.index-nav-fr li a{
	padding:7px 15px;
	color:#000;
	font-weight:bold;
	display: inline-block;
	font-size: 14px;
}
#index-nav .index-nav-fr li a img{
	display: inline-block;
	margin-left:2px;
}
#index-nav .index-nav-fr li a:hover{
	color:#fe0032;
}
.index-nav-fr .club{
	border-top:1px solid #FF0033;			
	height:62px;
	width:112px;
	text-align: center;
	display:none;
	position:absolute;
	top:30px;
	left:0;
	background:#fff;
	z-index: 999;
}
.index-nav-fr .club li{
	border:1px solid #ccc;
	border-top:none;
					
}
.index-nav-fr .consult{
	border-top:1px solid #FF0033;			
	height:62px;
	width:112px;
	text-align: center;
	display:none;
	position:absolute;
	top:30px;
	left:112;
	background:#fff;
	z-index: 999;
}
.index-nav-fr .consult li{
	border:1px solid #ccc;
	border-top:none;
}
.index-nav-fl .goods .list .aaa{
	position: relative;
}
.aaa .list-hide{
	width: 300px;
	height:456px;
	position: absolute;
	z-index:2;
	top: 0px;
	left: 178px;
	background:#FFFFFF;
}
.aaa .hide{
	display:none;
}
.aaa .list-hide .Conin{
	width:70px;
	height:454px;
	float:left;
	padding:0 15px;
}
.aaa .list-hide .Conin a{
	display: inline-block;	
	margin-top:23px ;	
}
.aaa .list-hide .Conin  img{
	width:75px;
	height:35px;	
}
/*第二个*/
.aaa .er{
	width: 280px;
	height:456px;
	position: absolute;
	z-index:2;
	top: -64px;
	left: 178px;
	background: #FFFFFF;
	color:#000;
}
 .aaa .san{
	width: 280px;
	height:456px;
	position: absolute;
	z-index:2;
	top: -128px;
	left: 178px;
	color:#000;
	background: #FFFFFF;
}
.aaa .si{
	width: 280px;
	height:286px;
	position: absolute;
	z-index:2;
	top: -25px;
	left: 178px;
	color:#000;
	background: #FFFFFF;
}
.aaa .wu{
	width: 280px;
	height:308px;
	position: absolute;
	z-index:2;
	top: -115px;
	left: 178px;
	color:#000;
	background: #FFFFFF;
}
.aaa .liu{
	width: 280px;
	height:130px;
	position: absolute;
	z-index:2;
	top: 0px;
	left: 178px;
	color:#000;
	background: #FFFFFF;
}
.aaa .line{
	height:70px;
	width:260px;
	border-bottom:1px dotted #EEEEEE;
	padding-left:10px;
}
.aaa .line dt{
	text-align: left;
	line-height:20px;
	margin-top:5px;
}
.goods .list .aaa .list-hide  dd a{
	color:#000;
}
.aaa .line dd a em{
	color:#FF0F3F;
}

/*右侧悬浮菜单*/
#float-right{
	width:72px;
	height:373px;
	position: fixed;
	top:200px;
	right:20px;
	z-index: 999;
	display: none;
	background: url(../img/menu.jpg) no-repeat 0 0;
	cursor:pointer;
}
.menu a{
	display:block;
	width:72px;
	height:78px;
	margin-top:1px;
}
.menu .one a:hover{
	background: url(../img/menu.jpg) no-repeat -78px 0;	
}
.menu .two a:hover{
	background: url(../img/menu.jpg) no-repeat -78px -79px;
}
.menu .three a:hover{
	background: url(../img/menu.jpg) no-repeat -78px -158px;
}
.menu .four a:hover{
	background: url(../img/menu.jpg) no-repeat -78px -237px;
}
.menu .five a:hover{
	background: url(../img/menu.jpg) no-repeat -78px -316px;
}




/* footer */
#footer{
	width:1204px;
	margin:10px auto 0;
}
#footer-info{
	margin:0 auto;
	height:125px;
	background: #fafafa;
	padding:20px 0 0 60px;
}
#footer-info .footer-info-dl{
	float: left;
	width:190px;
}
.footer-info-dl dd{
	height:20px;
	line-height: 20px;
	color:#97989c;
	font-size:14px;
}
 #footer-info .footer-info-dl .dt1{
	background:url(../img/footer01.png) no-repeat -9px 0;
	height:25px;
}
#footer-info .footer-info-dl .dt2{
	background:url(../img/footer01.png) no-repeat  -11px -34px;
	height:25px;
}
#footer-info .footer-info-dl .dt3{
	background:url(../img/footer01.png) no-repeat  0 -67px;
	height:25px;
}
#footer-info .footer-info-dl .dt4{
	background:url(../img/footer01.png) no-repeat -29px -100px;
	height:25px;
}
#footer-info .footer-info-dl .dt5{
	background:url(../img/footer01.png) no-repeat -7px -134px;
	height:25px;
}
#footer-info .footer-info-dl .dt6{
	background:url(../img/footer01.png) no-repeat -9px -202px;
	height:25px;
}
/* footer-feature */
.footer-feature{
	height:115px;
	width:1170px;
	padding:20px 0 0 34px;
}
.footer-feature img{
	width:52px;
	height:52px;
	margin:0 auto;
}
.footer-feature ul li{
	text-align: center;
	float: left;
	margin:0 35px;
}
.footer-feature ul li h3{
	font-size: 14px;
	margin-top:10px;
	line-height: 18px;
}
.footer-feature ul li p{
	font-size:17px;
	line-height: 25px;
}
.footer-black{
	width:100%;
	height:30px;
	background:#393939;
}
.footer-black ul{
	width:610px;
	margin:0 auto;
}
.footer-black ul li{
	text-align: center;
	float:left;
	line-height: 30px;
}
.footer-black ul li a{
	border-right:1px solid #fff;
	color:#fff;
	padding:0 17px;
	font-size: 14px;
}
/* copyright-info */
#copyright-info{
	width:100%;
	height:85px;
	margin:15px 0;
	text-align: center;
}
#copyright-info p span{
	display: inline-block;
}
#copyright-info p span b{
	font-weight: 100;
	float:left;
	height:37px;
	line-height: 37px
}
#copyright-info p span a{
	float: left;
	color:#ccc;
	
}
#copyright-info p{
	display: inline-block;
	height:37px;
	line-height: 37px;
	font-size:14px;
}
#copyright-info img{
	display: inline-block;
	float: left;
	margin-right:10px;
}
#copyright-info  .last img{
	margin-top:10px;
}
#copyright-info .pic3{
	width:102PX;
	HEIGHT:37PX;
}

#float-left{
	width:150px;
	height:200px;
	position: fixed;
	top:200px;
	left:20px;
	z-index: 999;
	cursor:pointer;
	display:none;
	background:url(../img/e4233.png)
}




