#tips{
	width:990px;
	height:14px;
	font-family: '宋体';
    font-size: 12px;
    color: #999;
    margin: 20px auto;
}
#user-content{
	width:990px;
	height:950px;
	margin:0 auto;
}
.user-left{
	width: 140px;
	height:950px;
	float: left;
}
.home{
	width: 100%;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    border: solid 1px #ddd;
    color: #333;
    font-size: 14px;
    font-family: '微软雅黑';
    font-weight: bold;
    background: url(../img/1.png) no-repeat 12px 5px;
}
.home span{
	padding-left: 54px;
}
.nav{
	width: 100%;
    height: auto;
    border: solid 1px #ddd;
    border-bottom: none;
    margin-top: 10px;	
}
.nav .menu{
	border-bottom: solid 1px #ddd;
}
.menu dt{
	width: 85.5%;
    height: 30px;
    line-height: 30px;
    background: #fafafa url(../img/dt1.jpg) no-repeat 120px center;
    padding: 0 10px;
    font-family: '宋体';
    color: #333;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.menu dd{
	padding: 10px 20px;
	font-size:13px;
	font-family: '宋体';
    color: #333;
}
.menu dd li{
	padding-bottom: 7px;
}
.menu dt.show{
	background: #fafafa url(../img/dt2.jpg) no-repeat 120px center;
}
.pic{
	margin-top: 10px;
}
.user-right{
	float:left;
	margin-left:10px;
}
.password-info{
	margin:40px 0 0 100px;
	width:740px;
	height:829px;
}
.user-right h1{
	width: 840px;
    color: #c80a28;
    font-family: '微软雅黑';
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: solid 1px #c80a28;
    margin-bottom: 8px;
}
.item{
	width:790px;
	height:22px;
	margin-bottom: 25px;
	font-size: 12px;
	line-height: 22px;
}
.item .left{
	float: left;
	width:85px;
	height:22px;
    text-align: right;   
}
.item .right{
	float:left;
	width:700px;
}
.item .right input{
    height: 25px;
    width:250px;
    border: solid 1px #ddd;
}
.item .save-btn{
	width:50px;
	height:25px;
	background:#c80a28;
	color:#fff;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}
.warm-tip{
	width:350px;
	height:150px;
	background:#fbfbfb;
	box-shadow:-10px 0px 20px #E9E9E9, /*左边阴影*/   
			    10px 0 20px #E9E9E9, /*右边阴影*/  
			    0 -10px 20px #E9E9E9, /*顶部阴影*/  
			    0 10px 20px #E9E9E9; /*底边阴影*/
	position:absolute;
    top:500px;
    right:600px;
    font-size:14px;
    display: none;
}
.warm-tip .p1{
	background:#f2f4f5;
	border-bottom:1px solid #d3d7db;
	height:35px;
	line-height: 35px;
	padding-left: 10px;
}
.warm-tip .p1 span{
	background: url(../img/off5.jpg) no-repeat right center;
	display: inline-block;
	float:right;
	width:40px;
	height:35px;
}
.tip-info{
	margin:10px 20px;	
}
.tip-info .p2{
	height:30px;
	line-height: 30px;
	margin-bottom: 10px;
}
.tip-info .p3{
	border:1px solid #d3d7db;
	background: #fbfbfb ;
	float:right;
	width:70px;
	height:25px;
	margin:25px 8px 0 0;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
 